#eoPageTheme {
    background: url('https://media.assettype.com/deccanherald%2Fimport%2Fsites%2Fdh%2Ffiles%2Farticleimages%2F2020%2F08%2F15%2FPTI14-08-2020_000172B(1)-1597454269.jpg?w=undefined&auto=format%2Ccompress&fit=max');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}