#backpic2 {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/050/508/290/small/indian-flag-with-confetti-on-white-background-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
}

.blur-bg {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.blur-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #950303 0%, #f1f3f1 60%, #02460d 100%);
    filter: blur(8px);
    z-index: -1;
}